<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MultAppliedWatchdog.Properties.config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <MultAppliedWatchdog.Properties.config>
            <setting name="server" serializeAs="String">
                <value>https://example.domain.com/api/v3/</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>username@domain.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>password!</value>
            </setting>
            <setting name="refreshTimer" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="fromEmail" serializeAs="String">
                <value>email@email.com</value>
            </setting>
            <setting name="toEmails" serializeAs="String">
                <value>email@email.com</value>
            </setting>
            <setting name="ccEmails" serializeAs="String">
                <value>email@email.com,email@email.com</value>
            </setting>
            <setting name="smtp" serializeAs="String">
                <value>smtp.domain.com</value>
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="smtpUser" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPass" serializeAs="String">
                <value />
            </setting>
            <setting name="emailAlertThreshold" serializeAs="String">
                <value>5</value>
            </setting>
        </MultAppliedWatchdog.Properties.config>
    </applicationSettings>
</configuration>